<h2>User Preferences</h2>
<hr />

<BSNav IsList="true" IsTabs="true">
    <BSNavItem>
        <BSNavLink IsActive="@IsNavActive("gamingPlatforms")" href="manageProfile/preferences/gamingPlatforms" style="color: #474A48">Gaming Platforms</BSNavLink>
    </BSNavItem>
    <BSNavItem>
        <BSNavLink IsActive="@IsNavActive("gameGenres")" href="manageProfile/preferences/gameGenres" style="color: #474A48">Game Genres</BSNavLink>
    </BSNavItem>
    <BSNavItem>
        <BSNavLink IsActive="@IsNavActive("games")" href="manageProfile/preferences/games" style="color: #474A48">Games</BSNavLink>
    </BSNavItem>
</BSNav>

@ChildContent

@code {

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private string _pageId;

    [Parameter]
    public string PageId
    {
        get
        {
            return _pageId;
        }
        set
        {
            _pageId = value;
            UpdatePage();
        }
    }

    public RenderFragment ChildContent { get; set; }

    void UpdatePage()
    {
        switch (PageId)
        {
            case "gamingPlatforms":
                ChildContent =@<UserGamingPlatforms />;
                break;
            case "gameGenres":
                ChildContent =@<UserGameGenres />;
                break;
            case "games":
                ChildContent =@<UserGames />;
                break;
            default:
                NavigationManager.NavigateTo("/manageProfile/preferences/gamingPlatforms");
                break;
        }
    }

    bool IsNavActive(string nav)
    {
        return PageId == nav;
    }

}